[submodule "ModularityCodes"]
	path = ModularityCodes
	url = https://github.com/MoltenEcdysone09/ModularityCodes.git
[submodule "StochasticEvolutionToggleTetrahedron"]
	path = StochasticEvolutionToggleTetrahedron
	url = git@github.com:Vivek-R-S/StochasticEvolutionToggleTetrahedron.git
[submodule "network-permu"]
	path = network-permu
	url = git@github.com:Harshavardhan-BV/network-permu.git
[submodule "Tcell_Toggle_Tetrahedron"]
	path = Tcell_Toggle_Tetrahedron
	url = git@github.com:groverkaushal/Tcell_Toggle_Tetrahedron.git
